.gallery {
  &__caption {
    padding: 24px 0 40px;

    font-weight: normal;
    color: $colorGrey;

  }

  &__button {
    margin: 40px auto 152px;
  }

  &__link {
    font-size: $fontSize-s;
    line-height: 27px;
    font-weight: bold;
    color: $colorLightBlue;
    text-decoration: none;
  }
}
