.testimonials {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .testimonials {
    flex-direction: column;
    justify-content: center;
    max-width: 324px;
    align-items: center;
    margin: 0 auto;
  }
}
